{% extends "base.html" %}
{% block title %}TASK{% endblock %}
{%load static%}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_app.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_tuto.css' %}">
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
{% endblock %}

{% block content%}
        {% get_current_language as LANGUAGE_CODE %}
        <div class="side-panel" style="visibility: hidden; z-index: 1">
            <h2>{% trans "Salut" %}, {{CONTEXT.participant.user.username}} !</h2>
            <p>{% trans "Ici, visualise ta progression dans les exercices à faire:" %}</p>
            <div class="side-info">
                <div class="content">
                    {% include "includes/study_progression.html" with info=CONTEXT.participant.progress_info %}
                    <div class="fade-screen"></div>
                </div>
            </div>
{#            <div class="btn-box" id="logout-button" onclick="confirm_logout()" style="visibility: hidden">#}
            <div class="btn-box" id="logout-button" onclick="" style="visibility: hidden">
                <p class="btn logout">{% trans "Se déconnecter" %}</p>
            </div>
        </div>
        <div class="main-panel">
        </div>
        <div class="img_container">
            <div class="subcontainer_img">
                <img id="img_researcher_pre_post" src="{% static 'images/researcher/researcher_shadow.png' %}">
            </div>
            <div class="general_instructions_bubble bubble">
                <div class="text" id="0">
                    {% trans "Bonjour ! Je suis le docteur Flowers et je vais t’accompagner pendant toute l’expérience." %}
                    <br>
                    {% trans " Merci beaucoup de participer ! Nous allons d’abord découvrir ensemble comment fonctionne l’écran."%}
                    <br>
                    <i>{% trans "Quand tu es prêt·e, clique sur le bouton  'Suivant' pour continuer." %}</i>
                </div>
                <div class="text" style="display:none" id="1">
                    {% trans "À gauche, dans le cadre rouge, tu peux voir la liste de toutes les activités que tu vas faire pendant la session. La petite flèche rouge te montre une courte explication de l’activité que tu es en train de faire." %}
                </div>
                <div class="text" style="display:none" id="2">
                    {% trans "En bas du panneau, le bouton 'Se déconnecter' te permet de quitter la session d'exercice."%}
                </div>
                <div class="text" style="display:none" id="3">
                    {% trans "Je te rappelle que la durée totale des exercices est de 30 minutes."%}
                    {% trans " Pendant les activités, essaie de rester à environ 50 centimètres de ton écran, comme si tu tendais un bras devant toi. Reste bien concentré·e : ne mets pas de musique et ne fais pas autre chose en même temps."%}
                    {% trans "Tu es prêt·e ? Alors c’est parti ! À toi de jouer!"%}
                </div>
                <div class="container-btn">
                    <button class="btn" style="display:none;" value="Previous" id="previous_btn" onclick="previous_button_click()">{% trans "Précédent" %}</button>
                    <button class="btn" value="Next" id="next_btn" onclick="next_button_click()">{% trans "Suivant" %}</button>
                    <button class="btn" value="Start" style="display:none;" id="start_btn" onclick="end_task()">{% trans "Démarrer" %}</button>
                </div>
            </div>
        </div>
{% endblock %}

{% block js%}

    {% get_current_language as LANGUAGE_CODE %}
    <script>  let language_code = {% autoescape off %}"{{LANGUAGE_CODE}}"{% endautoescape %}; </script>
    <script>
        let step_nb = 0;
        let next_button = document.getElementById("next_btn");
        let previous_button = document.getElementById("previous_btn");
        let start_button = document.getElementById("start_btn");
        function next_button_click(){
            step_nb ++;
            switch(step_nb){
                case 1:
                    previous_button.style.display = 'inline-block';
                    show_side_pannel();
                    highlight_side_panel_area();
                    break;
                case 2:
                    delete_side_panel_highlight();
                    show_logout_button();
                    highlight_logout_area();
                    break;
                case 3:
                    start_button.style.display = 'inline-block';
                    next_button.style.display = 'none';
                    delete_logout_highlight();
                    break;
            }
            display_text_nb(step_nb);
            hide_text_nb(step_nb-1);
        }
        function previous_button_click(){
            step_nb --;
            next_button.style.display = 'inline-block';
            start_button.style.display = 'none';
            switch(step_nb){
                case 0:
                    hide_side_pannel();
                    previous_button.style.display = 'none';
                    delete_side_panel_highlight();
                    break;
                case 1:
                    show_side_pannel();
                    highlight_side_panel_area();
                    delete_logout_highlight();
                    hide_logout_button();
                    break;
                case 2:
                    show_logout_button();
                    highlight_logout_area();
                    delete_side_panel_highlight();
                    break;
        }
            display_text_nb(step_nb);
            hide_text_nb(step_nb+1);
        }
        function display_text_nb(step_nb){
            var text_div = document.getElementById(step_nb);
            text_div.style.display = 'inline-block';
        }
        function hide_text_nb(step_nb){
            var text_div = document.getElementById(step_nb);
            text_div.style.display = 'none';
        }
        function show_side_pannel(){
            var side_pan = document.getElementsByClassName("side-panel");
            side_pan[0].style.visibility = 'visible';
            var char_container = document.getElementsByClassName("subcontainer_img");
            char_container[0].style.flexGrow = "1";
        }
        function hide_side_pannel(){
            var side_pan = document.getElementsByClassName("side-panel");
            side_pan[0].style.visibility = 'hidden';
            var char_container = document.getElementsByClassName("subcontainer_img");
            char_container[0].style.flexGrow = "0";
        }
        function show_logout_button(){
            document.getElementById('logout-button').style.visibility='visible';
        }
        function hide_logout_button(){
            document.getElementById('logout-button').style.visibility='hidden';
        }
        function highlight_side_panel_area(){
            document.getElementsByClassName('content')[0].style.border='5px solid red';
        }
        function delete_side_panel_highlight(){
            document.getElementsByClassName('content')[0].style.border='none';
        }
        function highlight_logout_area(){
            document.getElementsByClassName('logout')[0].style.border='5px solid red';
        }
        function delete_logout_highlight(){
            document.getElementsByClassName('logout')[0].style.border='none';
            document.getElementById('logout-button').onclick = confirm_logout;
        }
        function end_task(){
            window.location.href="end_task";
        }
    </script>
    <script>
        const sessionActive = {{request.session.active_session}}
        function confirm_logout() {
            if (sessionActive && confirm('Current session is not finished, continue ?')) {
                window.location.href = "user_logout"
            }
        }
    </script>
{% endblock %}
